/db.sqlite3
/.idea/misc.xml
/.idea/modules.xml
/.idea/Pharmacy.iml
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/media/*
/static/*
